<%- include("./partials/header") %>

    <div class="ui main text segment container">
        <div class="ui huge header">Login Page</div>
        
        <form class="ui form" action= "/blogs" method= "POST">
            <div class="field">
                <label>UserID</label>
                <input type="text" name="login[userID]" placeholder="userID">
            </div>
    
            <div class="field">
                <label>password</label>
                <input type="password" name="login[password]" placeholder="password">
            </div>
       
            <button class="ui blue basic button big" type="submit">Login</button>
            <a class="ui orange basic button big" href="/blogs/signup">SIGN UP</a>
        </form>
    </div>
<%- include("./partials/footer") %>