i.icon{
    font-size: 1.5em;
}

#mybody{
    margin-top: 5em;
    margin-left: 14%;
    margin-right: 14%;
}

#deleteform{
    display: inline;
}

#myitem{
    padding-top: 2em;
    padding-bottom: 2em;
}

#mybox{
    padding-top: 2em;
}